<ul id="contenedor-lista" class="demo-list-item mdl-list">

    {{#listaProductos}}

    <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content w-10">
            <i class="material-icons">shopping_cart</i>
        </span>
        <span class="mdl-list__item-primary-content w-30">
            {{nombre}}
        </span>
        <span class="mdl-list__item-primary-content w-20">

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample-cant-{{@index}}"
                    onchange="cambiarCantidad({{id}}, this)">
                <label class="mdl-textfield__label" for="sample-cant-{{@index}}">{{cantidad}}</label>
            </div>

        </span>
        <span class="mdl-list__item-primary-content w-20 ml-item">

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample-precio-{{@index}}"
                    onchange="cambiarPrecio({{id}}, this)">
                <label class="mdl-textfield__label" for="sample-precio-{{@index}}">{{precio}}</label>
            </div>

        </span>
        <span class="mdl-list__item-primary-content w-20 ml-item">
            <!-- Colored FAB button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
                onclick="borrarProd({{id}})">
                <i class="material-icons">remove_shopping_cart</i>
            </button>
        </span>

    </li>
    {{/listaProductos}}

</ul>