<ul class="demo-list-icon mdl-list w-100">
    {{#listaProductos}}
    <!-- Producto -->
    <li class="mdl-list__item">
        <!-- ícono del producto -->
        <span class="mdl-list__item-primary-content w-10">
            <i class="material-icons mdl-list__item-icon">shopping_cart</i>
        </span>

        <!-- nombre del producto -->
        <span class="mdl-list__item-primary-content w-30">
            {{nombre}}
        </span>

        <!-- cantidad de producto -->
        <span class="mdl-list__item-primary-content w-20">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input onchange="cambiarValorProd({{id}},'cantidad',this)" value={{cantidad}}
                    class="mdl-textfield__input" type="text" id="cantidad-{{@index}}">
                <label class="mdl-textfield__label" for="cantidad-{{@index}}">Cantidad</label>
            </div>
        </span>

        <!-- precio del producto -->
        <span class="mdl-list__item-primary-content w-20 ml-item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input onchange="cambiarValorProd({{id}},'precio',this)" value={{precio}}
                    class="mdl-textfield__input" type="text" id="precio-{{@index}}">
                <label class="mdl-textfield__label" for="precio-{{@index}}">Precio</label>
            </div>
        </span>

        <!-- botón de borrado individual del producto -->
        <span class="mdl-list__item-primary-content w-20 ml-item">
            <!-- Colored FAB button with ripple -->
            <button onclick="borrarProd({{id}})"
                class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">remove_shopping_cart</i>
            </button>
        </span>
    </li>
    {{/listaProductos}}
</ul>